body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px black;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: wheat;
}

.jumbotron {
  height: 100vh;
  background: url(img/Jumbotron4.jpg) no-repeat fixed center;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  /* background-color: rgb(42, 165, 48); */
  background-size: cover;
}

.logo {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20vw;
  margin-top: -75vw;
  box-shadow: none;
}

.text {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  margin-top: -600px;
  background-color: rgb(0, 0, 0, 0.3);
}

.text .text1 .headerh1 h1 {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  width: 70vw;
  padding: 0px 15px 5px 15px;
}

.text .text1 .text11 p {
  text-align: center;
  font-size: 1.3rem;
  color: whitesmoke;
  width: 70vw;
  padding: 0px 15px 5px 15px;
}

.text .img1 {
  width: 250px;
  height: 350px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.35);
  background-image: url(img/small/image2.png);
  background-size: cover;
}

.row {
  margin: auto;
  width: 70vw;
  /* background-color: rgb(0, 255, 255, 0.1); */
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
}

.row h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.5);
  padding: 25px 0px 25px 35px;
  font-size: 2rem;
  text-align: center;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column1 {
  align-items: center;
  padding: 0px 0px 10px 0px;
}

figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 25px;
}

.header_room {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 25px 10px 25px 10px;
}

.room {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 85vw;
  padding-bottom: 20px;
}

.room h2 {
  color: antiquewhite;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  margin-bottom: 10px;
}

.room1 {
  padding: 0px 15px 0px 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* background-image: url(img/small/image3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0, 0.1);
}

.link {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.footer a {
  text-decoration: none;
  color: rgb(247, 178, 57);
}

@media screen and (min-width: 768px) {
  .text {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    margin-top: -400px;
  }
}

@media screen and (min-width: 768px) {
  .text .text1 .headerh1 h1,
  .text .text1 .text11 p {
    width: 50vw;
    width: 50vw;
  }
}

@media screen and (min-width: 768px) {
  .room {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: 85vw;
  }
}
